.dins{/*estils dels inputs*/
    display: inline;
    justify-content: center;
    padding: 5px;
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: chocolate;
}
.etiqueta{/*estils dels labels*/
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
}
.boto{/*estils dels botons*/
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: chocolate;
    background-color: ghostwhite;
    font-size: large;
}
.form{/*estils per al formulari*/
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 8px;
  border-color: darkred;
  background-color: ghostwhite;
  width: 50%;
  
}
.fons{/*estils per al fons de la pàgina*/
    background-image:url('llibre.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.taula{/*estils de la taula resultant*/
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    display: block;
    padding: 15px;
    font-size: 120%;
    color: darkred;
    border-color: darkred;
    background-color: ghostwhite;
}
